﻿@page
@model DetailsModel
@{
}

<h3 class="rounded p-2 my-2 text-white text-center" style="background-color: #08618d;">Order Details</h3>


<div class="row mb-3 py-3">
    <div class="col-lg-6">
        <div class="border rounded p-3 h-100">
            <h3>Order</h3>

            <table class="table">
                <tr>
                    <td>Order ID</td>
                    <td>@Model.orderInfo.id</td>
                </tr>
                <tr>
                    <td>Order Date</td>
                    <td>@Model.orderInfo.orderDate</td>
                </tr>
                <tr>
                    <td>Delivery Address</td>
                    <td>@Model.orderInfo.deliveryAddress</td>
                </tr>
                <tr>
                    <td>Payment Method</td>
                    <td>@Model.orderInfo.paymentMethod</td>
                </tr>
                <tr>
                    <td>Payment Status</td>
                    <td>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#paymentModal">
                            @Model.orderInfo.paymentStatus
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Order Status</td>
                    <td>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#orderModal">
                            @Model.orderInfo.orderStatus
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="border rounded p-3 h-100">
            <h3>Client</h3>

            <table class="table">
                <tr>
                    <td>Client ID</td>
                    <td>@Model.userInfo.id</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>@Model.userInfo.firstname @Model.userInfo.lastname</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>@Model.userInfo.email</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>@Model.userInfo.phone</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>@Model.userInfo.address</td>
                </tr>
                <tr>
                    <td>Registered At</td>
                    <td>@Model.userInfo.createdAt</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<table class="table">
    <thead>
    <tr>
        <th>Description</th>
        <th style="width:100px">Units</th>
        <th style="width:100px">Amount</th>
    </tr>
    </thead>
    <tbody>
    @{
        decimal subtotal = 0;
    }
    @foreach (var item in Model.orderInfo.items)
    {
        subtotal += item.unitPrice * item.quantity;

        <tr>
            <td>
                <h3>@item.bookInfo.Title</h3>
                @item.bookInfo.Authors<br>
                @(item.unitPrice)$
            </td>
            <td>@item.quantity</td>
            <td>@(item.unitPrice * item.quantity)$</td>
        </tr>
    }
    </tbody>
</table>

<div class="text-end m-3">
    <strong>Subtotal:</strong> @(subtotal)$<br/>
    <strong>Shipping Fee:</strong> @(Model.orderInfo.shippingFee)$<br/>
    <strong>Total:</strong> @(subtotal + Model.orderInfo.shippingFee)$ <br/>
</div>


<!-- Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Payment Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="id" value="@Model.orderInfo.id"/>
                    <label>Payment Status</label>
                    <select class="form-select mb-2" name="payment_status" asp-for="orderInfo.paymentStatus">
                        <option value="pending">pending</option>
                        <option value="accepted">accepted</option>
                        <option value="canceled">canceled</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="orderModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Order Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="id" value="@Model.orderInfo.id"/>
                    <label>Order Status</label>
                    <select class="form-select mb-2" name="order_status" asp-for="orderInfo.orderStatus">
                        <option value="created">created</option>
                        <option value="accepted">accepted</option>
                        <option value="canceled">canceled</option>
                        <option value="shipped">shipped</option>
                        <option value="delivered">delivered</option>
                        <option value="returned">returned</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>