﻿@page
@model UITM.Shop.Pages.BookDetailsModel
@{
}

<h2 class="rounded text-center text-white p-2" style="background-color: #08618d;">Book Details</h2>

<div class="row">
    <div class="col-md-3">
        <div class="my-2 text-center sticky-top" style="top:10px;">
            <img src="/images/books/@Model.bookInfo.ImageFileName" class="img-fluid rounded" alt="...">
            <button type="button" class="btn btn-warning btn-sm my-2" onclick="addToCart(this, @Model.bookInfo.Id)">
                Add to Cart <i class="bi bi-cart4"></i>
            </button>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row mb-3">
            <div class="col-md-4">
                <h4>Title</h4>
            </div>
            <div class="col-md-8">
                <h4>@Model.bookInfo.Title</h4>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <strong>Authors</strong>
            </div>
            <div class="col-md-8">
                @Model.bookInfo.Authors
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <strong>ISBN</strong>
            </div>
            <div class="col-md-8">
                @Model.bookInfo.Isbn
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <strong>Pages</strong>
            </div>
            <div class="col-md-8">
                @Model.bookInfo.NumPages
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <strong>Price</strong>
            </div>
            <div class="col-md-8">
                @Model.bookInfo.Price
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <strong>Category</strong>
            </div>
            <div class="col-md-8">
                @Model.bookInfo.Category
            </div>
        </div>

        <p>
            <strong>Description:</strong>
            <br />
            @Model.bookInfo.Description
        </p>
    </div>
</div>