﻿@page
@model UITM.Shop.Pages.CartModel
@{
}

<div class="row border rounded-3">
    <div class="col-md-8 p-3">
        <h4>Shopping Cart</h4>

        @if (Model.errorMessage.Length > 0) {
            <div class='alert alert-warning alert-dismissible fade show' role='alert'>
              <strong>@Model.errorMessage</strong>
              <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        }
        else if (Model.successMessage.Length > 0) {
            <div class='alert alert-success alert-dismissible fade show' role='alert'>
              <strong>@Model.successMessage</strong>
              <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        }



        <table class="table align-middle">
            <tr>
                <td style="width:100px"></td>
                <td></td>
                <td style="width:140px"></td>
                <td style="width:70px"></td>
                <td style="width:30px"></td>
            </tr>

            @foreach (var item in Model.listOrderItems)
            {
                <tr>
                    <td><img src="/images/books/@item.bookInfo.ImageFileName" width="100" class="rounded" alt="..."></td>
                    <td>
                        <h4>@item.bookInfo.Title</h4>
                        <p>
                            Authors: @item.bookInfo.Authors<br>
                            Category: @item.bookInfo.Category<br>
                            Price: @(item.bookInfo.Price)$
                        </p>
                    </td>
                    <td>
                        <a href="/Cart?action=sub&id=@(item.bookInfo.Id)" class="btn btn-outline-secondary btn-sm" role="button">-</a>
                        <span class="border rounded-3 p-2 m-1">@item.numCopies</span>
                        <a href="/Cart?action=add&id=@(item.bookInfo.Id)" class="btn btn-outline-secondary btn-sm" role="button">+</a>
                    </td>
                    <td>@(item.totalPrice)$</td>
                    <td>
                        <a href="/Cart?action=delete&id=@(item.bookInfo.Id)"><i class="bi bi-trash text-danger h4"></i></a>
                    </td>
                </tr>
            }

            
        </table>
    </div>
    <div class="col-md-4">
        <div class="text-white rounded my-2 p-3" style="background-color: #08618d;">
            <h4>Order Summary</h4>
            <hr>
            @if (HttpContext.Session.GetString("role") == null)
            {
                <div class="row">
                    <div class="col">
                        <p>Subtotal:</p>
                    </div>
                    <div class="col">
                        <p class="text-end">@(Model.subtotal)$</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-grid">
                        <a class="btn btn-light" href="/Auth/Register" role="button">Register</a>
                    </div>
                    <div class="col d-grid">
                        <a class="btn btn-outline-light" href="/Auth/Login" role="button">Login</a>
                    </div>
                </div>
            }
            else
            {
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Delivery Address</label>
                        <input type="text" class="form-control" asp-for="Address">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Payment Method</label>
                        <select class="form-select" asp-for="PaymentMethod">
                            <option value="cash">Cash on Delivery</option>
                            <option value="credit_card">Credit Card</option>
                            <option value="paypal">Paypal</option>
                        </select>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col">
                            <p>Subtotal:</p>
                        </div>
                        <div class="col">
                            <p class="text-end">@(Model.subtotal)$</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p>Shipping:</p>
                        </div>
                        <div class="col">
                            <p class="text-end">@(Model.shippingFee)$</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p>Total:</p>
                        </div>
                        <div class="col">
                            <p class="text-end">@(Model.total)$</p>
                        </div>
                    </div>

                    <div class="d-grid">
                        <button class="btn btn-outline-light" type="submit">Checkout</button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>