﻿@page
@model UITM.Pages.Admin.Books.EditModel
@{
}

<h2 class="my-3">Edit Book</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}
else if (Model.successMessage.Length > 0)
{
    <div class='alert alert-success alert-dismissible fade show' role='alert'>
        <strong>@Model.successMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}

<form method="POST" enctype="multipart/form-data">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Id</label>
        <div class="col-sm-6">
            <input readonly type="text" class="form-control-plaintext" asp-for="Id">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Title</label>
        <div class="col-sm-6">
            <input class="form-control" asp-for="Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Authors</label>
        <div class="col-sm-6">
            <input class="form-control" asp-for="Authors">
            <span asp-validation-for="Authors" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">ISBN</label>
        <div class="col-sm-6">
            <input class="form-control" asp-for="ISBN">
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Pages</label>
        <div class="col-sm-6">
            <input class="form-control" asp-for="NumPages">
            <span asp-validation-for="NumPages" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Price ($)</label>
        <div class="col-sm-6">
            <input class="form-control" asp-for="Price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Category</label>
        <div class="col-sm-6">
            <select class="form-select" asp-for="Category">
                <option value="Other">Other</option>
                <option value="Mathematics">Mathematics</option>
                <option value="Technology">Technology</option>
                <option value="Economics">Economics</option>
                <option value="Medicine">Medicine</option>
                <option value="History">History</option>
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
            <textarea class="form-control" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Image</label>
        <div class="col-sm-6">
            <img src="/images/books/@Model.ImageFileName" width="100">
            <input type="hidden" asp-for="ImageFileName"/>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">New Image</label>
        <div class="col-sm-6">
            <input class="form-control" asp-for="ImageFile">
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Admin/Books/Index" role="button">Cancel</a>
        </div>
    </div>
</form>