﻿@page
@model UITM.Pages.Admin.Books.IndexModel
@{
}

<h2 class="my-3">List of Books</h2>

<div class="row mb-3">
    <div class="col">
        <a class="btn btn-primary" href="/Admin/Books/Create">New Book</a>
    </div>
    <div class="col">
        <form class="d-flex">
            <input class="form-control me-2" type="search" name="search" value="@Model.search" placeholder="Search by Title or Author">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<script>
    function sortTable(column) {
        let order = "desc";
        let currentColumn = "@Model.column";
        let currentOrder = "@Model.order";

        if (column == currentColumn) {
            if (currentOrder == "asc") order = "desc";
            else order = "asc";
        }

        window.location.href = '?search=@Model.search&column=' + column + '&order=' + order;
    }
</script>

<table class="table">
    <thead>
    <tr>
        <th style="cursor: pointer;" onclick="sortTable('id')">ID</th>
        <th style="cursor: pointer;" onclick="sortTable('title')">Title</th>
        <th style="cursor: pointer;" onclick="sortTable('authors')">Authors</th>
        <th style="cursor: pointer;" onclick="sortTable('num_pages')">Pages</th>
        <th style="cursor: pointer;" onclick="sortTable('price')">Price</th>
        <th style="cursor: pointer;" onclick="sortTable('category')">Category</th>
        <th>Image</th>
        <th style="cursor: pointer;" onclick="sortTable('created_at')">Created At</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.listBooks)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Authors</td>
            <td>@item.NumPages</td>
            <td>@(item.Price)$</td>
            <td>@item.Category</td>
            <td>
                <img src="/images/books/@item.ImageFileName" width="100">
            </td>
            <td>@item.CreatedAt</td>
            <td style="white-space:nowrap">
                <a class="btn btn-primary btn-sm" href="/Admin/Books/Edit?id=@item.Id">Edit</a>
                <a class="btn btn-danger btn-sm" href="/Admin/Books/Delete?id=@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>


<nav>
    <ul class="pagination">
        @for (var i = 1; i <= Model.totalPages; i++)
        {
            <li class="page-item">
                <a class="page-link" href="?page=@(i)&search=@(Model.search)&column=@Model.column&order=@Model.order">@i</a>
            </li>
        }
    </ul>
</nav>